/* 기본 설정 */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4f4f4;
  color: #333;
}

/* 앱 레이아웃 */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* 헤더 스타일 */
header {
  background-color: #a8dadc;
  text-align: center;
  padding: 20px;
  color: white;
}

header h1 {
  margin: 0;
  padding: 15px;
}

/* 네비게이션 스타일 */
nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #457b9d;
}

/* 메인 콘텐츠 스타일 */
main {
  flex: 1;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 800px;
  border-radius: 8px;
}

/* 입력 필드 스타일 */
input[type="text"], textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

/* 푸터 스타일 */
footer {
  background-color: #a8dadc;
  color: white;
  text-align: center;
  padding: 10px 0;
}

/* 선택 그룹 스타일 */
.select {
  padding: 15px 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.class_n {
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
}

/* 라디오 버튼 스타일 */
.select input[type=radio] {
  display: none;
}

.select input[type=radio] + label {
  display: inline-block;
  cursor: pointer;
  height: 32px;
  width: 120px;
  border: 1px solid #457b9d;
  border-radius: 4px;
  line-height: 32px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  margin-right: 10px;
  background-color: #fff;
  color: #457b9d;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.select input[type=radio]:checked + label {
  background-color: #457b9d;
  color: #fff;
}

/* 버튼 스타일 */
button {
  padding: 12px 18px; /* 버튼 크기 줄이기 */
  font-size: 16px;
  background-color: #457b9d;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #1d3557;
}

/* 미디어 쿼리 */
@media (max-width: 600px) {
  .select {
    padding: 10px 5px;
  }

  .class_n {
    font-size: 16px;
    margin-right: 5px;
  }

  .select input[type=radio] + label {
    height: 28px;
    width: 95px;
    line-height: 28px;
    font-size: 14px;
    margin-right: 5px;
  }

  input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }

  button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
  }
}
