/* App.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #282c34;
  text-align: center;
  padding: 20px;
  color: white;
}

header h1 {
  margin: 0;
  padding: 15px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

main {
  flex: 1;
  padding: 20px;
}

footer {
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 10px 0;
}

.select {
  padding: 15px 10px;
}

.gender-label {
  font-size: 20px; /* 텍스트 크기 조정 */
  font-weight: bold;
  margin-right: 10px; /* 성별 텍스트와 라디오 버튼 사이의 간격 조정 */
}

.select input[type=radio] {
  display: none;
}

.select input[type=radio] + label {
  display: inline-block;
  cursor: pointer;
  height: 32px;
  width: 120px; 
  border: 1px solid #333;
  line-height: 32px; 
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  margin-right: 10px; /* 라디오 버튼과 라벨 사이의 간격 조정 */
}

.select input[type=radio] + label {
  background-color: #fff;
  color: #333;
}

.select input[type=radio]:checked + label {
  background-color: #333;
  color: #fff;
}
